//font variable
$fonts-path: "../fonts";
$font-family: "vazir";
$font-weight: 700;
$font-style: "normal";
$default-font-size: 16px;
$nav-link: rgb(46, 46, 46);
$nav-link-hover: rgb(54, 114, 228);
$social-icons-color: #545858;
$social-icons-color-hover: #3f3d3d;
//mixins
@mixin flex($flex: flex, $position-x: center, $position-y: center) {
  display: $flex;
  justify-content: $position-x;
  align-items: $position-y;
}
@mixin margin-padding($top, $right, $bottom, $left, $margin: true) {
  @if ($margin) {
    margin: $top $right $bottom $left;
  } @else {
    padding: $top $right $bottom $left;
  }
}
@mixin section-creator($flex: flex, $flex-basis, $max-width) {
  display: $flex;
  flex-basis: $flex-basis;
  max-width: $max-width;
}

@font-face {
  font-family: $font-family;
  src: url("#{$fonts-path}/vazir.eot") format("eot"),
    url("#{$fonts-path}/vazir.ttf") format("truetype"),
    url("#{$fonts-path}/vazir.woff") format("woff"),
    url("#{$fonts-path}/vazir.woff2") format("woff2");
}

//reset
* {
  font-family: $font-family;
  direction: rtl;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
//public style
.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}
.row {
  @include flex;
}
.img-fluid {
  display: block;
  width: 100%;
  height: 100%;
}

// menu style

#nav {
  .navbar {
    width: 100%;
    font-size: $default-font-size;
    height: 60px;
    @include margin-padding(24px, 0, 24px, 0);
    @include flex(flex, space-between, null);
    ul {
      li {
        display: inline-block;
        line-height: 60px;
        @include margin-padding(0, 0, 0, 18px);
        cursor: pointer;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          height: 2px;
          background-color: #3672e4;
          transition: width 0.5s ease;
        }
        &:hover::after {
          width: 100%;
        }
        a {
          color: $nav-link;
          transition: color 0.5s ease;
        }
        &:hover a {
          color: $nav-link-hover;
        }
      }
    }
    .social-icons {
      direction: ltr;
      @include margin-padding(0, 0, 0, 0, false);
      a {
        color: $social-icons-color;
        transition: color 1s ease;
        &:hover {
          color: $social-icons-color-hover;
        }
        i {
          @include margin-padding(0, 8px, 0, 0);
        }
      }
    }
  }
}

// home style
#home {
  section {
    width: 100%;
    height: 83vh;
    @include margin-padding(0, 0, 0, 0);
    @include flex(flex, space-between, flex-start);
    .left {
      position: relative;
      @include section-creator(flex, 60%, 60%);
      height: 100%;
      img {
        object-fit: cover;
        object-position: 100% -3%;
      }
      .dumbbell {
        width: 229px;
        position: absolute;
        right: -285px;
        bottom: -85px;
        animation: lift 2s infinite linear;
      }
      @keyframes lift {
        0% {
          top: 0px;
        }
        50% {
          top: 100px;
        }
        100% {
          top: 0px;
        }
      }
      .sq-1 {
        position: absolute;
        top: 60px;
        left: 30px;
        width: 40px;
        height: 40px;
        border: 3px solid #8d72e4a4;
        animation: sq-1 14s infinite linear;
      }
      @keyframes sq-1 {
        100% {
          transform: rotate(-360deg);
        }
      }
    }
    .right {
      position: relative;
      @include margin-padding(0, 160px, 190px, 0, false);
      @include section-creator(flex, 40%, 40%);
      h1 {
        font-size: $default-font-size + 18px;
      }
    }
  }
}

// program style
#program {
  .program-section {
    @include flex;
    flex-direction: column;
    @include margin-padding(80px, 0, 50px, 0);
    position: relative;
    .pipe {
      width: 1200px;
      height: 400px;
      background: #8d72e44b;
      position: absolute;
      z-index: -1;
      border-radius: 200px;
      @include margin-padding(80px, 0, 0, 0);
    }
    .programs {
      @include flex();
      @include margin-padding(80px, 0, 20px, 0, false);
      .program__card {
        @include flex();
        flex-basis: 20%;
        flex-direction: column;
        height: 300px;
        margin: 10px;
        border-radius: 7px;
        text-align: center;
        cursor: pointer;
        transition: background-color .5s ease;
        .shape {
          border-radius: 50%;
          margin: 30px;
          background-color: #efefef;
          img {
            width: 150px;
            height: 150px;
          }
        }
        .description {
          @include margin-padding(10px, 5px, 15px, 10px);
        }

        &:hover {
          background-color: #efefef;
        }
      }
    }
    .sq-2 {
      position: absolute;
      top: -50px;
      right: 250px;
      width: 40px;
      height: 40px;
      border: 3px solid #e472d1a4;
      animation: sq-2 14s infinite linear;
    }
    @keyframes sq-2 {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
